---
import Layout from "@/layouts/Layout.astro";
import { getLocaleParams } from "@/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import appImg from "@images/it/app.webp";
import botImg from "@images/it/bot.webp";
import passngoImg from "@images/it/passngo.png";
import DefaultHero from "@/components/DefaultHero.astro";

export function getStaticPaths() {
  return getLocaleParams();
}

const ggexScreenshots = import.meta.glob<ImageMetadata>(
  "@/assets/images/exchange/ko/ggex-*",
  {
    eager: true,
    import: "default",
  },
);
---

<Layout title="사업소개">
  <DefaultHero title="사업소개" />
  <div class="grid gap-12 py-12 md:gap-24 md:py-24 lg:gap-36">
    <section id="ggbank" aria-labelledby="ggbank-heading">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-lg) px-4">
        <h2 id="ggbank-heading">GGbank</h2>
        <ul class="marker:text-primary">
          <li>
            <strong
              >세계 최초로 암호화폐 거래소와 디지털뱅크간 혁신적 통합플랫폼으로
              구현하는 “First Mover”</strong
            >
            <ul>
              <li>은행업과 디지털 자산 관리를 단일 플랫폼으로 결합</li>
              <li>고객의 편의성과 편익성을 극대화하는 혁신적인 금융서비스</li>
              <li>
                형태 : 디지탈 오프쇼어 뱅크<br /><small
                  class="ps-6 before:content-['*_']"
                  >낮은 세율이 적용되는 국가에 설립, 국제 은행 라이선스 하에
                  운영 및 규제</small
                >
              </li>
              <li>
                본사 : 말레이시아 라부안<br /><small
                  class="ps-6 before:content-['*_']"
                  >Tax heaven 지역 이점, 자산보호 (이슬람금융의 익명성 보장),
                  규제 유연성</small
                >
              </li>
            </ul>
          </li>
          <li>
            <strong
              >고객은 단일 KYC로 은행과 크립토 거래소에 “로그인”하고, 단일
              “계정”에서 모든 자산을 통합 관리 합니다. (Liquid Asset AI)</strong
            ><ul>
              <li>암호화폐와 법정화폐 간의 거래를 단순화</li>
              <li>제3의 중개기관이나 그 관련 수수료, 시간을 혁신적으로 줄임</li>
            </ul>
          </li>
          <li>
            <strong
              >연중 무휴, 언제, 어느 곳에서나 접속하여 은행업무 처리 가능</strong
            >
          </li>
          <li><strong>전세계 은행과 암호화폐거래소 연결 추진</strong></li>
          <li>
            <strong
              >기존 은행의 모습은 GGbank에서 고객중심의 프로세스로 새롭게 변신
              합니다</strong
            >
            <div
              class="not-prose my-8 grid **:text-balance md:grid-cols-[auto_1fr_auto_1fr]"
            >
              <div
                class="row-span-4 row-start-2 grid grid-cols-subgrid grid-rows-subgrid items-end *:border-b *:py-2 *:pe-2 max-md:hidden"
              >
                <span>시장니즈<br />선도대응</span>
                <span>사용자<br />편의</span>
                <span>운영 효율성</span>
                <span>지속가능<br />성장기반</span>
              </div>
              <div
                class="rounded-t-box grid overflow-hidden bg-blue-100 text-center shadow-sm *:px-4 *:py-2 md:row-span-5 md:grid-cols-subgrid md:grid-rows-subgrid"
              >
                <h3 class="bg-blue-500 text-2xl font-bold text-white">현 황</h3>
                <div class="border-b border-white">
                  <p>전통금융과 크림토금융 이원화</p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    암호화폐 현금화 애로,수수료 과다
                  </p>
                </div>
                <div class="border-b border-white">
                  <p>
                    은행과 크립토거래소 등 복수계좌, 복수의 KYC, 복합적 규제
                  </p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    사용자 고통, 시장성장 한계
                  </p>
                </div>
                <div class="border-b border-white">
                  <p>규제 대응 최적화 & 인프라 통합</p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    비용 절감 & 확장 용이
                  </p>
                </div>
                <div class="border-b border-white">
                  <p>은행+거래소 통합</p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    즉시 환전·결제·대출 가능
                  </p>
                </div>
              </div>
              <div class="my-4 justify-self-center md:hidden">
                <Icon
                  name="lucide:circle-chevron-down"
                  class="text-primary"
                  size={24}
                />
              </div>
              <div
                class="col-start-3 row-span-4 row-start-2 grid grid-cols-subgrid grid-rows-subgrid items-center *:mx-2 max-md:hidden"
              >
                {
                  Array.from({ length: 4 }).map(() => (
                    <Icon
                      name="lucide:circle-chevron-right"
                      class="text-primary"
                      size={24}
                    />
                  ))
                }
              </div>
              <div
                class="rounded-t-box grid overflow-hidden bg-purple-200 text-center shadow-sm *:grid *:content-center *:px-4 *:py-2 md:row-span-5 md:grid-cols-subgrid md:grid-rows-subgrid"
              >
                <h3 class="bg-purple-700 text-2xl font-bold text-white">
                  솔루션
                </h3>
                <p class="border-b border-white">
                  암호화폐 실시간 현금화, 단일 수수료
                </p>
                <p class="border-b border-white">
                  Single Account, single KYC, single regulatory authority
                </p>
                <p class="border-b border-white">
                  Fin-tech 및 Operation Company 설립, 스테이블코인생태계
                  선도백화점 상품권 RWA확보
                </p>
                <p class="border-b border-white">
                  고객 신뢰 확보 & 금융 서비스 매출 증가
                </p>
              </div>
            </div>
          </li>
          <li><strong>은행업무를 쉽게 처리할 수 있는 UI/UX 사용</strong></li>
          {/* TODO: add app download links */}
        </ul>
      </div>
    </section>
    <section
      id="ggex"
      aria-labelledby="ggex-heading"
      class="bg-orange-50/50 py-12"
    >
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-lg) px-4">
        <h2 id="ggex-heading">GGEX</h2>
        <ul class="marker:text-orange-400">
          <li>
            GGEX는 사용자 친화적인 UI로 쉽게 거래할 수 있으며, 안전하고 강력한
            보안 시스템으로 자산을 안전하게 보호 합니다.
            <div class="not-prose mt-4 grid grid-cols-2 gap-2 md:grid-cols-5">
              {
                Object.values(ggexScreenshots).map((src) => (
                  <Image
                    {src}
                    alt=""
                    class="aspect-[1/2] rounded-lg border shadow-xs"
                  />
                ))
              }
            </div>
          </li>
          <li>GGEX는 충분한 유동성을 확보하고 있습니다.</li>
          <div class="not-prose mt-6 flex flex-wrap gap-x-4 gap-y-2">
            <a
              href="https://ggex.io/en"
              target="_blank"
              rel="noopener noreferrer"
              class="btn sm:btn-wide bg-orange-400 max-sm:w-full"
              >자세히 알아보기</a
            >
            <a
              href="https://apps.apple.com/kr/app/ggex/id6738909226"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-outline sm:btn-wide max-sm:w-full"
            >
              <Icon name="app-store" size={24} />
              App Store
            </a>
            <a
              href="https://play.google.com/store/apps/details?id=app.webview.ggex&hl"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-outline sm:btn-wide max-sm:w-full"
            >
              <Icon name="google-play" size={24} />
              Google Play
            </a>
          </div>
        </ul>
      </div>
    </section>
    <section id="fintech" aria-labelledby="fintech-heading">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-md) px-4">
        <h2 id="fintech-heading">FIN-Tech</h2>
        <section id="pg-service" aria-labelledby="pg-service-heading">
          <h3 id="pg-service-heading">PG 서비스</h3>
          <p
            class="rounded-box border-primary border p-2 before:content-['※_']"
          >
            <dfn id="pg-dfn"><abbr>PG</abbr></dfn> : Payment Gateway
          </p>
          <ul class="marker:text-primary">
            <li>
              <strong>
                금융기관(카드사, 은행등)과 인터넷 거래가 가능하게 연결해주는
                서비스
              </strong>
              <ul>
                <li>
                  가맹점<Icon
                    class="mx-2 inline-block"
                    name="lucide:move-horizontal"
                  />PG사<Icon
                    class="mx-2 inline-block"
                    name="lucide:move-horizontal"
                  />금융기관
                </li>
              </ul>
            </li>
          </ul>
          <div class="not-prose mt-12">
            <div
              class="mx-auto grid max-w-[500px] grid-cols-3 grid-rows-[1fr_auto_1fr] max-sm:scale-80"
            >
              <div
                class="grid aspect-square place-content-center place-items-center rounded-full border-4 border-blue-200 text-center"
              >
                <Icon name="lucide:credit-card" size={36} />
                <span class="text-lg font-bold">고객</span>
              </div>
              <div class="self-center justify-self-center text-center">
                <span
                  class="before:text-primary before:font-bold before:content-['1_']"
                  >주문결제</span
                >
                <svg class="h-6 w-full text-slate-300" role="img">
                  <defs>
                    <marker
                      id="arrowhead"
                      viewBox="0 0 10 10"
                      refX="5"
                      refY="5"
                      markerWidth="6"
                      markerHeight="6"
                      orient="auto-start-reverse"
                    >
                      <path d="M 0 0 L 10 5 L 0 10 z" fill="currentColor"
                      ></path>
                    </marker>
                  </defs>
                  <line
                    id="horizontal-line"
                    x1="10%"
                    y1="12"
                    x2="90%"
                    y2="12"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    marker-start="url(#arrowhead)"
                    marker-end="url(#arrowhead)"></line>
                </svg>
                <span
                  class="before:text-primary before:font-bold before:content-['4_']"
                  >서비스 제공</span
                >
              </div>
              <div
                class="grid aspect-square place-content-center place-items-center rounded-full border-4 border-pink-200 text-center"
              >
                <Icon name="lucide:store" size={36} />
                <span class="text-lg font-bold">가맹점</span>
              </div>
              <div class="relative">
                <div
                  class="absolute end-[calc(50%+24px)] top-1/2 w-max -translate-y-1/2 text-end"
                >
                  <span
                    class="before:text-primary before:font-bold before:content-['7_']"
                    >대금납부</span
                  >
                </div>
                <svg class="mx-auto w-6 text-slate-300" role="img">
                  <line
                    y1="10%"
                    x1="12"
                    y2="90%"
                    x2="12"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    marker-end="url(#arrowhead)"></line>
                </svg>
              </div>
              <div></div>
              <div class="relative">
                <div
                  class="absolute end-[calc(50%+24px)] top-1/2 w-max -translate-y-1/2 text-end"
                >
                  <span
                    class="before:text-primary before:font-bold before:content-['3_']"
                    >결제승인</span
                  >
                  <br />
                  <span
                    class="before:text-primary before:font-bold before:content-['6_']"
                    >판매대금 입금</span
                  >
                </div>
                <svg class="mx-auto w-6 text-slate-300" role="img">
                  <line
                    y1="10%"
                    x1="12"
                    y2="90%"
                    x2="12"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    marker-start="url(#arrowhead)"
                    marker-end="url(#arrowhead)"></line>
                </svg>
                <div
                  class="absolute start-[calc(50%+24px)] top-1/2 w-max -translate-y-1/2"
                >
                  <span
                    class="before:text-primary before:font-bold before:content-['2_']"
                    >결제요청</span
                  >
                </div>
              </div>
              <div
                class="grid aspect-square place-content-center place-items-center rounded-full border-4 border-orange-200 text-center"
              >
                <Icon name="lucide:building-2" size={36} />
                <span class="text-lg font-bold">금융기관</span>
                <span>(카드사)</span>
              </div>
              <div class="self-center justify-self-center text-center">
                <span
                  class="before:text-primary before:font-bold before:content-['3_']"
                  >결제승인</span
                >
                <br />
                <span
                  class="before:text-primary before:font-bold before:content-['5_']"
                  >정산대금 입금</span
                >
                <svg class="h-6 w-full text-slate-300" role="img">
                  <use href="#horizontal-line"></use>
                </svg>
                <span
                  class="before:text-primary before:font-bold before:content-['2_']"
                  >결제요청</span
                >
              </div>
              <div
                class="grid aspect-square place-content-center place-items-center rounded-full border-4 border-purple-200 text-center"
              >
                <Icon name="lucide:server" size={36} />
                <span class="text-lg font-bold">PG</span>
              </div>
            </div>
          </div>
        </section>
        <section
          id="sms-service"
          aria-labelledby="sms-service-heading"
          class="mt-24"
        >
          <h3 id="sms-service-heading">SMS 결제서비스</h3>
          <ul class="marker:text-primary">
            <li>
              <strong>
                고객에게 수신된 SMS 메세지를 통해 카드정보 입력 후 결제하는
                서비스
              </strong>
              <ul>
                <li>
                  판매자가 상품 및 단가를 웹 또는 앱에서 구매자에게 SMS로 결제
                  요청 시, 구매자는 카드정보 노출 없이 신용카드 결제를 진행
                </li>
              </ul>
            </li>
          </ul>
          <div class="not-prose mt-12">
            <div
              class="grid gap-y-4 text-center md:grid-cols-[repeat(3,1fr_auto)_1fr] md:items-start"
            >
              <div class="grid justify-items-center">
                <Icon name="lucide:store" size={36} />
                <strong>판매자</strong>
                <p class="text-sm">고객에게 문자 발송</p>
              </div>
              <Icon
                name="lucide:move-right"
                size={36}
                class="self-center justify-self-center text-slate-300 max-md:rotate-90"
              />
              <div class="grid justify-items-center">
                <Icon name="lucide:mail" size={36} />
                <strong>SMS 결제요청</strong>
                <p class="text-sm">상품명, 결제금액 고객정보 등</p>
              </div>
              <Icon
                name="lucide:move-right"
                size={36}
                class="self-center justify-self-center text-slate-300 max-md:rotate-90"
              />
              <div class="grid justify-items-center">
                <Icon name="lucide:credit-card" size={36} />
                <strong>카드정보입력</strong>
                <p class="text-sm">카드번호, 유효기간 등 입력</p>
              </div>
              <Icon
                name="lucide:move-right"
                size={36}
                class="self-center justify-self-center text-slate-300 max-md:rotate-90"
              />
              <div class="grid justify-items-center">
                <Icon name="lucide:hand-coins" size={36} />
                <strong>고객결제</strong>
                <p class="text-sm">결제완료, 취소가능</p>
              </div>
            </div>
          </div>
        </section>
        <section
          id="payment-service"
          aria-labelledby="payment-service-heading"
          class="mt-24"
        >
          <h3 id="payment-service-heading">수기결제서비스</h3>
          <ul class="marker:text-primary">
            <li>
              <strong>
                판매자가 최소한의 고객카드 정보만으로 결제하는 빠르고 간편한
                결제 수단
              </strong>
            </li>
            <li>
              <strong
                >개인정보 없이 판매자의 보증보험 가입을 통해 결제가 가능한
                결제서비스</strong
              >
            </li>
            <li>
              <strong>수기결제의 장점</strong>
              <ul>
                <li>판매상품의 높은 결제율을 위한 신용카드사 모두 지원 가능</li>
                <li>소비자의 방문 없이 전화/문자 한통으로 카드결제 가능</li>
                <li>
                  번거로운 인증절차 없이 로그인 한번으로 빠른 결제처리 가능
                </li>
                <li>휴대단말기 필요 없이 매출정산/운영/관리 유지비 0원!</li>
              </ul>
            </li>
          </ul>
          <p class="text-primary font-bold before:content-['※_']">
            안전하고 스마트한 결제 서비스를 함께할 고객님을 모십니다
          </p>
          <ul class="marker:text-primary">
            <li>
              <strong>추천업종</strong>
              <ul>
                <li>
                  리조트, 팬션예약, 제조사, 유통사, 대리운전, 배달업종, 블로그,
                  SNS, 관공서, 병원, 쇼핑몰, 카페, 증권, 화원
                </li>
                <li>
                  그 외 방문판매, 의료기기, 기타업종 등 모두 편리하게 사용 가능
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </section>

    <section id="rwa" aria-labelledby="rwa-heading" class="bg-base-200 py-12">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-md) px-4">
        <h2 id="rwa-heading">RWA</h2>
        <p class="rounded-box border-primary border p-2 before:content-['※_']">
          <dfn id="rwa-dfn"><abbr>RWA</abbr></dfn>(Real World Assets) : 블록체인
          기술을 활용해 실물 자산을 디지털화 하고, 이를 토큰화 하여 온체인
          생태계에서 거래 및 활용할 수 있도록 하는 비즈니스 입니다.
        </p>
        <section id="pafi" aria-labelledby="pafi-heading">
          <h3 id="pafi-heading"><abbr>PAFI</abbr> Project</h3>
          <p class="ps-8 text-xl">
            (*<span class="text-primary font-bold">Pa</span>cific <span
              class="text-primary font-bold">Fi</span
            >nance Platform)
          </p>
          <ul class="marker:text-primary">
            <li>
              <strong
                >상품권 기반 글로벌 스테이블 코인의 결제 플랫폼을 구축하고,
                지불결제 시장을 선점하기 위한 프로그램 입니다</strong
              ><ul>
                <li>
                  PAFI Pay 결제 플랫폼 구축, 암호화폐 결제 시장으로 사업 확장
                </li>
                <li>
                  유통 결제 및 송금 서비스 : PAFI 코인(거버넌스, 스테이블)을
                  활용
                </li>
                <li>국경없는 저비용 글로벌 금융 플랫폼 지향</li>
                <li>고성능 네트워크 기반 실시간 결제 및 송금</li>
                <li>PAFI Coin을 이용한 스테이블 코인 구매</li>
                <li>PAFI 스테이블 코인 및 법정 통화 간 자동 교환</li>
              </ul>
            </li>
            <li>
              <strong>PAFI Project의 추진 단계는</strong><ol>
                <li>
                  상품권 기반 글로벌 스테이블 코인 플랫폼 구축
                  <ul>
                    <li>PAFI Pay 구축 및 시장 선점</li>
                  </ul>
                </li>
                <li>
                  PAFI 거버넌스 코인의 글로벌 확산 및 사용 확대 ⇒ 유동성 확보
                </li>
                <li>
                  PAFI 스테이블 코인의 글로벌 확장 : 글로벌 유통사의 결제 용도
                </li>
              </ol>
            </li>
            <li>
              <strong>RWA 결제 시스템을 연계한 PAFI Pay 결제 구성도</strong>
              <div
                class="my-12 grid items-center gap-4 text-center *:place-items-center max-sm:justify-center sm:grid-cols-[1fr_auto_1fr_auto_1fr]"
              >
                <div
                  class="rounded-box bg-primary text-primary-content aspect-square content-center border p-4 shadow-sm"
                >
                  <Icon name="lucide:smartphone" size={24} class="mb-2" />
                  RWA Coin<br />Mobile App
                </div>
                <div class="grid max-sm:*:[grid-area:1/1]">
                  <span class="max-sm:translate-x-[100%]">QR코드</span>
                  <Icon
                    name="lucide:move-right"
                    size={48}
                    class="max-sm:rotate-90"
                  />
                </div>
                <div
                  class="rounded-box aspect-square content-center border bg-orange-50 p-4 shadow-sm"
                >
                  <Icon name="lucide:laptop-minimal" size={24} class="mb-2" />
                  유통사 POS<br />시스템
                </div>
                <div class="grid max-sm:*:[grid-area:1/1]">
                  <span class="max-sm:translate-x-[100%]">Payment</span>
                  <Icon
                    name="lucide:move-horizontal"
                    size={48}
                    class="max-sm:rotate-90"
                  />
                </div>
                <div
                  class="rounded-box aspect-square content-center border bg-white p-4 shadow-sm"
                >
                  <Icon name="lucide:banknote" size={24} class="mb-2" />
                  RWA Payment<br />System
                </div>
              </div>
            </li>
            <li>
              <strong>
                PAFI Project는 유통회사와 가맹점의 지불 결제를 위한 코인 발행과,
                결제 시스템 구축 사업을 추진하고 있습니다
              </strong>
            </li>
          </ul>
        </section>
      </div>
    </section>

    <section id="it" aria-labelledby="it-heading">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-lg) px-4">
        <h2 id="it-heading"><abbr>IT</abbr></h2>
      </div>
      <section
        id="app"
        aria-labelledby="app-heading"
        class="mx-auto mt-24 grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
      >
        <Image
          src={appImg}
          alt="Phone with Fingerate app"
          class="rounded-box object-cover shadow-md md:order-last md:h-full"
        />
        <div class="prose md:prose-lg max-w-none">
          <h3 id="app-title">FingeRate App</h3>
          <ul class="marker:text-primary">
            <li>
              <strong
                >FingerRate앱은 설문조사 수행 방식을 혁신하여 기업에게 귀중한
                피드백을 제공하는 동시에 참여자에게 보상을 제공합니다.</strong
              >
            </li>
            <li>
              <strong
                >FingerRate앱은 메타버스를 기반으로 한 최초의 앱으로 실제 지도를
                사용하여 설문조사에 참여하면 보상을 받을 수 있는 흥미로운 기회를
                제공합니다.</strong
              >
            </li>
            <li>
              <strong
                >가치 없는 설문조사에 시간을 낭비하지 마시고 지금 바로
                FingerRate와 함께 보상을 받으세요!</strong
              >
            </li>
          </ul>
          <ul
            class="not-prose grid gap-x-6 gap-y-2 font-medium sm:grid-cols-2 md:gap-x-12"
          >
            {
              [
                "보상 기반 설문조사",
                "실제 세계 지도",
                "언제 어디서나",
                "무료!",
              ].map((item) => (
                <li class="flex items-center gap-2">
                  <Icon
                    name="lucide:check"
                    size={20}
                    class="text-primary"
                    aria-hidden="true"
                  />
                  {item}
                </li>
              ))
            }
          </ul>
          <a
            href="http://fingerate.world/app"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary md:btn-wide not-prose mt-6 max-md:w-full"
            >지금 시작하기!</a
          >
        </div>
      </section>
      <section
        id="bot"
        aria-labelledby="bot-heading"
        class="bg-primary/5 mt-24 py-12 md:py-24"
      >
        <div class="mx-auto grid w-full max-w-(--breakpoint-lg) gap-8 px-4">
          <Image
            src={botImg}
            alt="Person showing a gesture towards Fingerate bot"
            class="rounded-box mx-auto h-[350px] object-cover shadow-md"
          />
          <div class="prose md:prose-lg sm:mx-auto">
            <h3 id="bot-heading">FingeRate Bot</h3>
            <ul class="marker:text-primary">
              <li>
                <strong
                  >FingeRate 생태계를 통해 기업에 고객 데이터를 제공하는 것을
                  넘어, 터치리스 시스템을 통해 고객에게 안전하고 편리한 경험을
                  보장합니다.</strong
                >
              </li>
              <li>
                <strong
                  >실시간 데이터 분석을 통해 고객 행동에 대한 깊은 이해를
                  제공합니다.</strong
                >
              </li>
            </ul>
            <a
              href="http://fingerate.world"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary not-prose sm:btn-wide max-sm:w-full"
              >자세히 알아보기</a
            >
          </div>
        </div>
      </section>
      <section
        id="passngo"
        aria-labelledby="passngo-heading"
        class="mx-auto mt-24 grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
      >
        <Image
          src={passngoImg}
          alt="2 phones showcasing Pass&Go app"
          class="max-md:mx-auto"
        />
        <div class="prose md:prose-lg max-w-none">
          <h3 id="passngo-heading">Pass&Go</h3>
          <ul class="marker:text-primary">
            <li>
              <strong
                >Pass&Go의 주요 서비스는 QR 코드 형태의 디지털 자격 증명을
                생성하는 것입니다.</strong
              >
            </li>
            <li>
              <strong
                >이 자격 증명은 음성 검사 통과 또는 면역력 보유와 같은 특정
                지표를 확인하여 사회 및 경제 활동에 완전히 참여할 수 있도록
                합니다.</strong
              ><ul>
                <li>
                  호흡기 질병 등의 검사 결과(음성, 양성)로 다중시설 이용, 항공기
                  등 탑승 구분
                </li>
              </ul>
            </li>
            <li>
              <strong
                >Pass&Go를 사용하면 더 이상 물리적 문서를 휴대하거나 분실 또는
                손상된 문서에 대해 걱정할 필요가 없습니다.</strong
              >
            </li>
          </ul>
        </div>
      </section>
    </section>
  </div>
</Layout>
