---
import Layout from "@/layouts/Layout.astro";
import * as translations from "@/i18n";
import { getLocaleParams } from "@/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import appImg from "@images/it/app.webp";
import botImg from "@images/it/bot.webp";
import passngoImg from "@images/it/passngo.png";
import DefaultHero from "@/components/DefaultHero.astro";

export function getStaticPaths() {
  return getLocaleParams();
}

const locale = Astro.currentLocale!;
const t = translations[locale as keyof typeof translations] || translations.en;

const ggexScreenshots = Object.values(
  import.meta.glob<ImageMetadata>("@/assets/images/exchange/*/ggex-*", {
    eager: true,
    import: "default",
  }),
).filter((src) => src.src.includes(`/${locale}/`));
---

<Layout title={t.business.h1}>
  <DefaultHero title={t.business.h1} />
  <div class="grid gap-12 py-12 md:gap-24 md:py-24 lg:gap-36">
    <section id="ggbank" aria-labelledby="ggbank-heading">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-lg) px-4">
        <h2 id="ggbank-heading">{t.business.ggbank.h2}</h2>
        <ul class="marker:text-primary">
          <li>
            <strong
              >{
                locale === "ko"
                  ? "세계 최초로 암호화폐 거래소와 디지털뱅크간 혁신적 통합플랫폼으로 구현하는 “First Mover”"
                  : "As a First Mover, we are building the world’s first innovative platform that seamlessly connects cryptocurrency exchanges with digital banking"
              }</strong
            >
            <ul>
              <li>
                {
                  locale === "ko"
                    ? "은행업과 디지털 자산 관리를 단일 플랫폼으로 결합"
                    : "Integrating banking and digital asset management within one unified platform"
                }
              </li>
              <li>
                {
                  locale === "ko"
                    ? "고객의 편의성과 편익성을 극대화하는 혁신적인 금융서비스"
                    : "Innovative financial services that maximize customer convenience and benefits"
                }
              </li>
              <li>
                {
                  locale === "ko"
                    ? "형태 : 디지탈 오프쇼어 뱅크"
                    : "Type: Digital Offshore Bank"
                }
                <br />
                <small class="ps-6 before:content-['*_']">
                  {
                    locale === "ko"
                      ? "낮은 세율이 적용되는 국가에 설립, 국제 은행 라이선스 하에 운영 및 규제"
                      : "Established in a country with low tax rates, operated and regulated under international banking license"
                  }
                </small>
              </li>
              <li>
                {
                  locale === "ko"
                    ? "본사 : 말레이시아 라부안"
                    : "Headquarters: Labuan, Malaysia"
                }
                <br />
                <small class="ps-6 before:content-['*_']">
                  {
                    locale === "ko"
                      ? "Tax heaven 지역 이점, 자산보호 (이슬람금융의 익명성 보장), 규제 유연성"
                      : "Tax haven region advantages, asset protection (anonymity guarantee in Islamic finance), regulatory flexibility"
                  }
                </small>
              </li>
            </ul>
          </li>
          <li>
            <strong
              >{
                locale === "ko"
                  ? '고객은 단일 KYC로 은행과 크립토 거래소에 "로그인"하고, 단일 "계정"에서 모든 자산을 통합 관리 합니다. (Liquid Asset AI)'
                  : "With a single KYC process, customers can seamlessly access both banking and crypto exchange services, managing all their assets in one unified account through Liquid Asset AI"
              }</strong
            ><ul>
              <li>
                {
                  locale === "ko"
                    ? "암호화폐와 법정화폐 간의 거래를 단순화"
                    : "Simplify transactions between cryptocurrency and fiat currency"
                }
              </li>
              <li>
                {
                  locale === "ko"
                    ? "제3의 중개기관이나 그 관련 수수료, 시간을 혁신적으로 줄임"
                    : "Innovate by minimizing the role of third-party intermediaries, significantly reducing related fees and processing time"
                }
              </li>
            </ul>
          </li>
          <li>
            <strong
              >{
                locale === "ko"
                  ? "연중 무휴, 언제, 어느 곳에서나 접속하여 은행업무 처리 가능"
                  : "Available 24/7, 365 days a year - access and conduct banking services anytime, anywhere"
              }</strong
            >
          </li>
          <li>
            <strong>
              {
                locale === "ko"
                  ? "전세계 은행과 암호화폐거래소 연결 추진"
                  : "Promoting connections with banks and cryptocurrency exchanges worldwide"
              }
            </strong>
          </li>
          <li>
            <strong
              >{
                locale === "ko"
                  ? "기존 은행의 모습은 GGbank에서 고객중심의 프로세스로 새롭게 변신 합니다"
                  : "Traditional banking appearance transforms into customer-centric processes at GGbank"
              }</strong
            >
            <div
              class="not-prose my-8 grid **:text-balance md:grid-cols-[min-content_1fr_auto_1fr]"
            >
              <div
                class="row-span-4 row-start-2 grid grid-cols-subgrid grid-rows-subgrid items-end *:border-b *:py-2 *:pe-2 max-md:hidden"
              >
                <span>
                  {
                    locale === "ko"
                      ? "시장니즈 선도대응"
                      : "Anticipated Market Needs"
                  }
                </span>
                <span>
                  {locale === "ko" ? "사용자 편의" : "User Convenience"}
                </span>
                <span>
                  {locale === "ko" ? "운영 효율성" : "Operational Efficiency"}
                </span>
                <span>
                  {
                    locale === "ko"
                      ? "지속가능 성장기반"
                      : "Sustainable Growth Foundation"
                  }
                </span>
              </div>
              <div
                class="rounded-t-box grid overflow-hidden bg-blue-100 text-center shadow-sm *:px-4 *:py-2 md:row-span-5 md:grid-cols-subgrid md:grid-rows-subgrid"
              >
                <h3 class="bg-blue-500 text-2xl font-bold text-white">
                  {locale === "ko" ? "현 황" : "Current Status"}
                </h3>
                <div class="border-b border-white">
                  <p>
                    {
                      locale === "ko"
                        ? "전통금융과 크림토금융 이원화"
                        : "Dual financial system: Traditional and Crypto finance"
                    }
                  </p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    {
                      locale === "ko"
                        ? "암호화폐 현금화 애로,수수료 과다"
                        : "Cryptocurrency cashing difficulties, excessive fees"
                    }
                  </p>
                </div>
                <div class="border-b border-white">
                  <p>
                    {
                      locale === "ko"
                        ? "은행과 크립토거래소 등 복수계좌, 복수의 KYC, 복합적 규제"
                        : "Multi-account, multi-KYC, complex regulations"
                    }
                  </p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    {
                      locale === "ko"
                        ? "사용자 고통, 시장성장 한계"
                        : "Pain points & growth limits"
                    }
                  </p>
                </div>
                <div class="border-b border-white">
                  <p>
                    {
                      locale === "ko"
                        ? "규제 대응 최적화 & 인프라 통합"
                        : "Regulatory compliance optimization & infrastructure integration"
                    }
                  </p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    {
                      locale === "ko"
                        ? "비용 절감 & 확장 용이"
                        : "Cost reduction & easy expansion"
                    }
                  </p>
                </div>
                <div class="border-b border-white">
                  <p>
                    {
                      locale === "ko"
                        ? "은행+거래소 통합"
                        : "Bank + Exchange Integration"
                    }
                  </p>
                  <p class="mt-2 rounded-full bg-white px-2 py-1 text-blue-700">
                    {
                      locale === "ko"
                        ? "즉시 환전·결제·대출 가능"
                        : "Instant exchange, payment, and lending"
                    }
                  </p>
                </div>
              </div>
              <div class="my-4 justify-self-center md:hidden">
                <Icon
                  name="lucide:circle-chevron-down"
                  class="text-primary"
                  size={24}
                />
              </div>
              <div
                class="col-start-3 row-span-4 row-start-2 grid grid-cols-subgrid grid-rows-subgrid items-center *:mx-2 max-md:hidden"
              >
                {
                  Array.from({ length: 4 }).map(() => (
                    <Icon
                      name="lucide:circle-chevron-right"
                      class="text-primary"
                      size={24}
                    />
                  ))
                }
              </div>
              <div
                class="rounded-t-box grid overflow-hidden bg-purple-200 text-center shadow-sm *:grid *:content-center *:px-4 *:py-2 md:row-span-5 md:grid-cols-subgrid md:grid-rows-subgrid"
              >
                <h3 class="bg-purple-700 text-2xl font-bold text-white">
                  {locale === "ko" ? "솔루션" : "Solution"}
                </h3>
                <p class="border-b border-white">
                  {
                    locale === "ko"
                      ? "암호화폐 실시간 현금화, 단일 수수료"
                      : "Real-time cryptocurrency conversion, single fee"
                  }
                </p>
                <p class="border-b border-white">
                  Single Account, single KYC, single regulatory authority
                </p>
                <p class="border-b border-white">
                  {
                    locale === "ko"
                      ? "Fin-tech 및 Operation Company 설립, 스테이블코인생태계 선도백화점 상품권 RWA확보"
                      : "Leading stablecoin ecosystem with FinTech and RWAs"
                  }
                </p>
                <p class="border-b border-white">
                  {
                    locale === "ko"
                      ? "고객 신뢰 확보 & 금융 서비스 매출 증가"
                      : "Customer trust building & increased financial services revenue"
                  }
                </p>
              </div>
            </div>
          </li>
          <li>
            <strong>
              {
                locale === "ko"
                  ? "은행업무를 쉽게 처리할 수 있는 UI/UX 사용"
                  : "User-friendly UI/UX to perform banking operations"
              }
            </strong>
          </li>
          {/* TODO: add app download links */}
        </ul>
      </div>
    </section>
    <section
      id="ggex"
      aria-labelledby="ggex-heading"
      class="bg-orange-50/50 py-12"
    >
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-lg) px-4">
        <h2 id="ggex-heading">{t.business.ggex.h2}</h2>
        <ul class="marker:text-orange-400">
          <li>
            {
              locale === "ko"
                ? "GGEX는 사용자 친화적인 UI로 쉽게 거래할 수 있으며, 안전하고 강력한 보안 시스템으로 자산을 안전하게 보호 합니다"
                : "GGEX offers easy trading with a user-friendly interface and protects your assets safely with a robust security system"
            }
            <div class="not-prose mt-4 grid grid-cols-2 gap-2 md:grid-cols-5">
              {
                ggexScreenshots.map((src) => (
                  <Image
                    {src}
                    alt=""
                    class="aspect-[1/2] rounded-lg border shadow-xs"
                  />
                ))
              }
            </div>
          </li>
          <li>
            {
              locale === "ko"
                ? "GGEX는 충분한 유동성을 확보하고 있습니다."
                : "GGEX maintains sufficient liquidity."
            }
          </li>
          <div class="not-prose mt-6 flex flex-wrap gap-x-4 gap-y-2">
            <a
              href="https://ggex.io/en"
              target="_blank"
              rel="noopener noreferrer"
              class="btn sm:btn-wide bg-orange-400 max-sm:w-full"
              >{t.common.learnMore}</a
            >
            <a
              href="https://apps.apple.com/kr/app/ggex/id6738909226"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-outline sm:btn-wide max-sm:w-full"
            >
              <Icon name="app-store" size={24} />
              App Store
            </a>
            <a
              href="https://play.google.com/store/apps/details?id=app.webview.ggex&hl"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-outline sm:btn-wide max-sm:w-full"
            >
              <Icon name="google-play" size={24} />
              Google Play
            </a>
          </div>
        </ul>
      </div>
    </section>
    <section id="fintech" aria-labelledby="fintech-heading">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-md) px-4">
        <h2 id="fintech-heading">{t.business.fintech.h2}</h2>
        <section>
          <h3>RAPID 송금 서비스</h3>
          <ul class="marker:text-primary">
            <li>연중무휴, 24시간 빠르고 간편한 해외송금 서비스</li>
            <li>
              쉽고 간편한 모바일 App으로 비대면 해외송금
              <ul>
                <li>은행대비 수수료는 저렴, 기다림은 짧게</li>
                <li>20분 이내 송금 (국가 별 차이 있음)</li>
              </ul>
              <li>
                월렛에 미리 충전, 해외 송금, 카드 결제까지!
                <ul>
                  <li>월렛 연결 선불 결제카드 제공</li>
                  <li>은행 계좌 잔액 및 거래내역 조회 기능 제공</li>
                </ul>
              </li>
              <li>
                서비스 가능 국가
                <ul>
                  <li>
                    아시아 : 일본, 홍콩, 싱가폴, 필리핀, 중국, 타이완,
                    말레이시아, 한국
                  </li>
                  <li>아메리카 : 미국, 카나다, 멕시코</li>
                  <li>유럽 : 영국, 독일, 프랑스, 스페인</li>
                </ul>
              </li>
            </li>
          </ul>
        </section>
        <section class="mt-24">
          <h3>현금 바로결제 서비스</h3>
          <ul class="marker:text-primary">
            <li>
              복잡했던 은행업무를 GG Fin-tech 중계 서비스를 통해 편리하게 이용
              가능
              <ul>
                <li>
                  은행별로 다른 금융업무를 기업과 은행의 시스템에 안전하게
                  이어주는 기업뱅킹 서비스
                </li>
                <li>
                  자금이체, 출금, 가상계좌, 전자어음 등 기업 내 복잡하고 다양한
                  자금 관리 업무를 사무실에서 실시간으로 처리
                </li>
              </ul>
            </li>
            <li>
              간편한 회원가입과 결제
              <ul>
                <li>
                  최초 결제 시: <ol
                    class="not-prose ms-2 inline-flex list-inside list-decimal flex-wrap gap-x-4"
                  >
                    <li>계좌등록</li>
                    <li>비밀번호 설정</li>
                    <li>결제완료</li>
                  </ol>
                </li>
              </ul>
            </li>
            <li>
              회원이 좋은점
              <ul>
                <li>
                  소득공제혜택, 간편한 사용 가능 (별도 프로그램 설치 없음)
                </li>
              </ul>
            </li>
            <li>
              가맹점의 혜택
              <ul>
                <li>
                  <span class="font-medium">낮은 수수료</span> : 오픈뱅킹 기반 결제로
                  신용카드 결제 대비 낮은 수수료
                </li>
                <li>
                  <span class="font-medium">빠른 정산주기</span> : 통상 D+2일 정산으로
                  현금 흐름을 효율적으로 관리
                </li>
                <li>
                  <span class="font-medium">고객사 맞춤 컬러 결제창</span> : 커스터마이징으로
                  결제창에서도 고객사 고유의 아이덴티티 유지
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </section>

    <section id="rwa" aria-labelledby="rwa-heading" class="bg-base-200 py-12">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-md) px-4">
        <h2 id="rwa-heading">{t.business.rwa.h2}</h2>
        <p class="rounded-box border-primary border p-2 before:content-['※_']">
          <dfn id="rwa-dfn"><abbr>RWA</abbr></dfn>
          {
            locale === "ko"
              ? "(Real World Assets) : 블록체인 기술을 활용해 실물 자산을 디지털화 하고, 이를 토큰화 하여 온체인 생태계에서 거래 및 활용할 수 있도록 하는 비즈니스 입니다."
              : "(Real World Assets): Leveraging blockchain technology to digitize and tokenize real-world assets, enabling their seamless trading and utilization within the on-chain ecosystem."
          }
        </p>
        <section id="pafi" aria-labelledby="pafi-heading">
          <h3 id="pafi-heading"><abbr>PAFI</abbr> Project</h3>
          <p class="ps-8 text-xl">
            (*<span class="text-primary font-bold">Pa</span>cific <span
              class="text-primary font-bold">Fi</span
            >nance Platform)
          </p>
          <ul class="marker:text-primary">
            <li>
              <strong
                >{
                  locale === "ko"
                    ? "상품권 기반 글로벌 스테이블 코인의 결제 플랫폼을 구축하고, 지불결제 시장을 선점하기 위한 프로그램 입니다"
                    : "A program designed to establish a global stablecoin payment platform based on gift certificates, securing a leading position in the payment market"
                }</strong
              ><ul>
                <li>
                  {
                    locale === "ko"
                      ? "PAFI Pay 결제 플랫폼 구축, 암호화폐 결제 시장으로 사업 확장"
                      : "PAFI Pay payment platform construction, business expansion into cryptocurrency payment market"
                  }
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "유통 결제 및 송금 서비스 : PAFI 코인(거버넌스, 스테이블)을 활용"
                      : "Distribution payment and remittance services: Utilizing PAFI coins (governance, stable)"
                  }
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "국경없는 저비용 글로벌 금융 플랫폼 지향"
                      : "Aims to be a borderless, low-cost global financial platform"
                  }
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "고성능 네트워크 기반 실시간 결제 및 송금"
                      : "Real-time payment and remittance based on high-performance networks"
                  }
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "PAFI Coin을 이용한 스테이블 코인 구매"
                      : "Purchase stable coins using PAFI Coin"
                  }
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "PAFI 스테이블 코인 및 법정 통화 간 자동 교환"
                      : "Automatic exchange between PAFI stable coin and fiat currency"
                  }
                </li>
              </ul>
            </li>
            <li>
              <strong>
                {
                  locale === "ko"
                    ? "PAFI Project의 추진 단계는"
                    : "PAFI Project Implementation Stages:"
                }
              </strong>
              <ol>
                <li>
                  {
                    locale === "ko"
                      ? "상품권 기반 글로벌 스테이블 코인 플랫폼 구축"
                      : "Build a gift voucher-based global stable coin platform"
                  }
                  <ul>
                    <li>
                      {
                        locale === "ko"
                          ? "PAFI Pay 구축 및 시장 선점"
                          : "PAFI Pay development and market establishment"
                      }
                    </li>
                  </ul>
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "PAFI 거버넌스 코인의 글로벌 확산 및 사용 확대 ⇒ 유동성 확보"
                      : "Global expansion and increased usage of PAFI governance coins ⇒ Secure liquidity"
                  }
                </li>
                <li>
                  {
                    locale === "ko"
                      ? "PAFI 스테이블 코인의 글로벌 확장 : 글로벌 유통사의 결제 용도"
                      : "Global expansion of PAFI stable coins: For payment purposes by global distributors"
                  }
                </li>
              </ol>
            </li>
            <li>
              <strong>
                {
                  locale === "ko"
                    ? "RWA 결제 시스템을 연계한 PAFI Pay 결제 구성도"
                    : "PAFI Pay Payment Configuration Diagram Linked to RWA Payment System"
                }
              </strong>
              <div
                class="my-12 grid items-center gap-4 text-center *:place-items-center max-sm:justify-center sm:grid-cols-[1fr_auto_1fr_auto_1fr]"
              >
                <div
                  class="rounded-box bg-primary text-primary-content aspect-square content-center border p-4 shadow-sm"
                >
                  <Icon name="lucide:smartphone" size={24} class="mb-2" />
                  RWA Coin<br />Mobile App
                </div>
                <div class="grid max-sm:*:[grid-area:1/1]">
                  <span class="max-sm:translate-x-[100%]">
                    {locale === "ko" ? "QR코드" : "QR Code"}
                  </span>
                  <Icon
                    name="lucide:move-right"
                    size={48}
                    class="max-sm:rotate-90"
                  />
                </div>
                <div
                  class="rounded-box aspect-square content-center border bg-orange-50 p-4 shadow-sm"
                >
                  <Icon name="lucide:laptop-minimal" size={24} class="mb-2" />
                  {locale === "ko" ? "유통사 POS" : "Distributor POS System"}
                  <br />
                  {locale === "ko" ? "시스템" : ""}
                </div>
                <div class="grid max-sm:*:[grid-area:1/1]">
                  <span class="max-sm:translate-x-[100%]">Payment</span>
                  <Icon
                    name="lucide:move-horizontal"
                    size={48}
                    class="max-sm:rotate-90"
                  />
                </div>
                <div
                  class="rounded-box aspect-square content-center border bg-white p-4 shadow-sm"
                >
                  <Icon name="lucide:banknote" size={24} class="mb-2" />
                  {locale === "ko" ? "RWA Payment" : "RWA Payment"}
                  <br />
                  {locale === "ko" ? "System" : "System"}
                </div>
              </div>
            </li>
            <li>
              <strong>
                {
                  locale === "ko"
                    ? "PAFI Project는 유통회사와 가맹점의 지불 결제를 위한 코인 발행과, 결제 시스템 구축 사업을 추진하고 있습니다"
                    : "The PAFI Project is developing a digital payment ecosystem by issuing coins and establishing a payment system designed for distribution companies and franchise partners"
                }
              </strong>
            </li>
          </ul>
        </section>
      </div>
    </section>

    <section id="it" aria-labelledby="it-heading">
      <div class="prose md:prose-lg mx-auto max-w-(--breakpoint-lg) px-4">
        <h2 id="it-heading"><abbr>{t.business.it.h2}</abbr></h2>
      </div>
      <section
        id="app"
        aria-labelledby="app-heading"
        class="mx-auto mt-24 grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
      >
        <Image
          src={appImg}
          alt="Phone with Fingerate app"
          class="rounded-box object-cover shadow-md md:order-last md:h-full"
        />
        <div class="prose md:prose-lg max-w-none">
          <h3 id="app-title">FingeRate App</h3>
          <ul class="marker:text-primary">
            <li>
              <strong>
                {
                  locale === "ko"
                    ? "FingerRate앱은 설문조사 수행 방식을 혁신하여 기업에게 귀중한 피드백을 제공하는 동시에 참여자에게 보상을 제공합니다."
                    : "FingerRate app revolutionizes survey methodology by providing valuable feedback to companies while rewarding participants."
                }
              </strong>
            </li>
            <li>
              <strong>
                {
                  locale === "ko"
                    ? "FingerRate앱은 메타버스를 기반으로 한 최초의 앱으로 실제 지도를 사용하여 설문조사에 참여하면 보상을 받을 수 있는 흥미로운 기회를 제공합니다."
                    : "FingerRate app is the first metaverse-based app that offers an exciting opportunity to earn rewards by participating in surveys using real-world maps."
                }
              </strong>
            </li>
            <li>
              <strong>
                {
                  locale === "ko"
                    ? "가치 없는 설문조사에 시간을 낭비하지 마시고 지금 바로 FingerRate와 함께 보상을 받으세요!"
                    : "Don't waste time on worthless surveys - start earning rewards with FingerRate now!"
                }
              </strong>
            </li>
          </ul>
          <ul
            class="not-prose grid gap-x-6 gap-y-2 font-medium sm:grid-cols-2 md:gap-x-12"
          >
            {
              [
                locale === "ko" ? "보상 기반 설문조사" : "Reward-Based Surveys",
                locale === "ko" ? "실제 세계 지도" : "Real-World Maps",
                locale === "ko" ? "언제 어디서나" : "Anytime, Anywhere",
                locale === "ko" ? "무료!" : "Free!",
              ].map((item) => (
                <li class="flex items-center gap-2">
                  <Icon
                    name="lucide:check"
                    size={20}
                    class="text-primary"
                    aria-hidden="true"
                  />
                  {item}
                </li>
              ))
            }
          </ul>
          <a
            href="http://fingerate.world/app"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary md:btn-wide not-prose mt-6 max-md:w-full"
          >
            {locale === "ko" ? "지금 시작하기!" : "Get Started Now!"}
          </a>
        </div>
      </section>
      <section
        id="bot"
        aria-labelledby="bot-heading"
        class="bg-primary/5 mt-24 py-12 md:py-24"
      >
        <div class="mx-auto grid w-full max-w-(--breakpoint-lg) gap-8 px-4">
          <Image
            src={botImg}
            alt="Person showing a gesture towards Fingerate bot"
            class="rounded-box mx-auto h-[350px] object-cover shadow-md"
          />
          <div class="prose md:prose-lg sm:mx-auto sm:text-center">
            <h3 id="bot-heading">FingeRate Bot</h3>
            <p>
              FingeRate 생태계를 통해 기업에 고객 데이터를 제공하는 것을 넘어,
              터치리스 시스템을 통해 고객에게 안전하고 편리한 경험을 보장합니다.
              실시간 데이터 분석을 통해 고객 행동에 대한 깊은 이해를 제공합니다.
            </p>
            <a
              href="http://fingerate.world"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary not-prose sm:btn-wide max-sm:w-full"
              >자세히 알아보기</a
            >
          </div>
        </div>
      </section>
      <section
        id="passngo"
        aria-labelledby="passngo-heading"
        class="mx-auto mt-24 grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
      >
        <Image
          src={passngoImg}
          alt="2 phones showcasing Pass&Go app"
          class="max-md:mx-auto"
        />
        <div class="prose md:prose-lg max-w-none">
          <h3 id="passngo-heading">Pass&Go</h3>
          <p>
            Pass&Go의 주요 서비스는 QR 코드 형태의 디지털 자격 증명을 생성하는
            것입니다. 이 자격 증명은 음성 검사 통과 또는 면역력 보유와 같은 특정
            지표를 확인하여 사회 및 경제 활동에 완전히 참여할 수 있도록 합니다.
            Pass&Go를 사용하면 더 이상 물리적 문서를 휴대하거나 분실 또는 손상된
            문서에 대해 걱정할 필요가 없습니다.
          </p>

          <a
            href="https://www.bloomberg.com/press-releases/2021-07-02/gg56-is-offering-the-covid-19-digital-solution-to-the-world-for-free"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary not-prose md:btn-wide mt-4 max-md:w-full"
            >자세히 알아보기</a
          >
        </div>
      </section>
    </section>
  </div>
</Layout>
