---
import * as translations from "@/i18n";
import appImg from "@images/it/app.webp";
import botImg1 from "@images/it/bot-1.webp";
import passngoImg from "@images/it/passngo.png";
import signisImg from "@images/it/signis.webp";
import Layout from "@/layouts/Layout.astro";
import { getLocaleParams } from "@/utils";
import { Image } from "astro:assets";

export function getStaticPaths() {
  return getLocaleParams();
}

const t =
  translations[Astro.currentLocale as keyof typeof translations] ||
  translations.en;
---

<Layout title={t.page.it}>
  <h1 class="sr-only">{t.it.h1}</h1>
  <div class="grid gap-24 py-18 md:gap-32 md:py-24">
    <section
      id="app"
      aria-labelledby="app-title"
      class="mx-auto grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
    >
      <Image
        src={appImg}
        alt="Phone with Fingerate app"
        class="rounded-box h-full object-cover shadow-md md:order-last"
        loading="eager"
      />
      <div class="prose md:prose-lg max-w-none">
        <h2 id="app-title">
          {t.it.app.h2}
        </h2>
        <p>{t.it.app.p}</p>
        <ul
          class="not-prose grid gap-x-6 gap-y-2 ps-5 font-medium marker:content-['✔️'] sm:grid-cols-2 md:gap-x-12"
        >
          {t.it.app.ul.map((item) => <li>{item}</li>)}
        </ul>
        <a
          href="http://fingerate.world/app"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary md:btn-wide not-prose mt-6 max-md:w-full"
          >{t.it.app.cta}</a
        >
      </div>
    </section>
    <section
      id="bot"
      aria-labelledby="bot-title"
      class="bg-primary/5 md:clip-wave py-18 md:py-36"
    >
      <div class="mx-auto grid w-full max-w-(--breakpoint-lg) gap-8 px-4">
        <Image
          src={botImg1}
          alt="Female showing a gesture towards Fingerate bot"
          class="rounded-box mx-auto h-[350px] object-cover shadow-md"
        />
        <div class="prose md:prose-lg sm:mx-auto sm:text-center">
          <h2 id="bot-title">
            {t.it.bot.h2}
          </h2>
          <p>{t.it.bot.p}</p>
          <a
            href="http://fingerate.world"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary not-prose sm:btn-wide max-sm:w-full"
            >{t.it.bot.cta}</a
          >
        </div>
      </div>
    </section>
    <section
      id="passngo"
      aria-labelledby="passngo-title"
      class="mx-auto grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
    >
      <Image
        src={passngoImg}
        alt="Phones with Pass&Go app"
        class="max-md:mx-auto"
      />
      <div class="prose md:prose-lg max-w-none">
        <h2 id="passngo-title">
          {t.it.passngo.h2}
        </h2>
        <p>{t.it.passngo.p}</p>

        <a
          href="https://www.bloomberg.com/press-releases/2021-07-02/gg56-is-offering-the-covid-19-digital-solution-to-the-world-for-free"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary not-prose md:btn-wide mt-4 max-md:w-full"
          >{t.it.passngo.cta}</a
        >
      </div>
    </section>
    <section
      id="signis"
      aria-labelledby="signis-title"
      class="bg-primary/5 md:clip-wave py-18 md:py-36"
    >
      <div
        class="mx-auto grid max-w-(--breakpoint-lg) items-center gap-8 px-4 md:grid-cols-2"
      >
        <Image
          src={signisImg}
          alt="Signis FR metaverse map"
          class="md:order-last"
        />
        <div class="prose md:prose-lg max-w-none">
          <h2 id="signis-title">
            {t.it.signis.h2}
          </h2>
          <p>{t.it.signis.p}</p>

          <a
            href="https://www.blockchaintoday.co.kr/news/articleView.html?idxno=23930"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary not-prose md:btn-wide mt-4 max-md:w-full"
            >{t.it.signis.cta}</a
          >
        </div>
      </div>
    </section>
  </div>
</Layout>
