---
import { LOCALES } from "@/constants";
import { languages } from "@/i18n/common";
import { Icon } from "astro-icon/components";

const { pathname } = Astro.url;
const currentLocale = Astro.currentLocale as (typeof LOCALES)[number];
const pathWithoutLocale =
  pathname.replace(new RegExp(`^/${currentLocale}`), "") || "/";
---

<div class="dropdown dropdown-end dropdown-top">
  <div tabindex="0" role="button" class="btn btn-ghost btn-sm">
    <Icon name="lucide:globe" size={18} />
    <span class="mx-1 max-sm:hidden">{languages[currentLocale]}</span>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box z-[1] w-40 p-2 shadow"
  >
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a
            href={`/${lang}${pathWithoutLocale}`}
            hreflang={lang}
            class:list={{ "menu-active": lang === currentLocale }}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
